.footer,
.top-link {
    font-size: var(--footersize);
    color: var(--secondary);
}

.footer {
    margin: auto;
    padding: calc((var(--footer-height) - var(--gap)) / 2) var(--gap);
    text-align: center;
    line-height: 22px;
    background: var(--theme);
    border-top: 1px solid var(--border);
}

.footer span {
    margin-inline-start: 1px;
    margin-inline-end: 1px;
}

.footer span:last-child {
    white-space: nowrap;
}

.footer a {
    color: var(--secondary);
    transition: var(--transition);
}

.footer a:hover {
    color: var(--darkcolor);
}

.top-link {
    visibility: hidden;
    position: fixed;
    bottom: 40px;
    right: 24px;
    z-index: 99;
    background: var(--entry);
    width: 44px;
    height: 44px;
    padding: 12px;
    border-radius: 50%;
    border: 1px solid var(--border);
    box-shadow: var(--shadow-md);
    transition: var(--transition);
}

.top-link:hover {
    background: var(--tertiary);
    transform: translateY(-2px);
}

.top-link,
.top-link svg {
    filter: none;
}

.top-link:focus,
#theme-toggle:focus {
    outline: 0;
}
